<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzh222333.unzip"
    android:versionCode="200"
    android:versionName="2.0.0" >

    <uses-sdk 
        android:minSdkVersion="11" 
		android:targetSdkVersion="21"
     />

    <application
		android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		android:persistent="true"
		android:largeHeap="true" >
        <activity
			android:name=".TempActivity"
			android:screenOrientation="portrait"
		/>
		<activity 
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar" 
			android:screenOrientation="portrait"
		>
        </activity>

		<activity
			android:name=".feedback"
			android:screenOrientation="portrait"
		/>

		<activity
			android:name=".Cracking"
			android:screenOrientation="portrait"
		/>
		<service
			android:name=".Crack.CrackService"
			android:screenOrientation="portrait"
		/>
		<activity
			android:name=".TestActivity"
			android:screenOrientation="portrait"
		/>

		<activity
			android:name=".HelpAndAboutActivity"
			android:screenOrientation="portrait"
		/>
		<activity
			android:name=".postkey"
			android:screenOrientation="portrait"
		/>
		<activity
			android:name=".donate"
			android:screenOrientation="portrait"
		/>
		<activity
			android:name=".CrackSetting"
			android:screenOrientation="portrait"
		/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
			android:screenOrientation="portrait"
		>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> 
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_LOGS" />
	

</manifest>
